body {
  font-size: 16px;
  color: #424448;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #fff;
  border-radius: 0;
  border: 0;
  height: 250px;
}

 .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            background-color: #fff; /* Background color for the heading */
        }

        /* CSS for the logo */
        .logo {
            width: 50px; /* Adjust the width as needed */
            height: auto;
        }

        /* CSS for the title */
        .title {
            text-align: center;
            flex: 1; 
            color: #424448;
            font-family: 'Lora', serif;
            font-size: 4em;
        text-transform: uppercase;
      font-weight: bold;
  text-shadow: 1px 1px 1px #222;
line-height: .75;
text-align: center;
z-index: 100;
}
        
.p1 {
  margin-top: 25px;
    font-family: Helvetica, Arial, sans-serif;\
}

.Chicken {
  padding: 20px;
}

@media (min-width: 600px) {
  .XLogo {
    display: block;
  }

  .SmLogo {
    display: none;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 3em;
  }

  .XLogo {
    display: none;
  }

  .SmLogo {
    display: block;
  }
}